pkgbase = qidistudio-git
	pkgdesc = Professional 3D printer slicing software developed by QIDI Technology (built with CachyOS/Arch compatibility patches)
	pkgver = 02.07.01.57.r16991.g4b23a908
	pkgrel = 1
	url = https://github.com/mitch030504/QIDIStudioAutoBuild
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = nasm
	makedepends = yasm
	makedepends = extra-cmake-modules
	depends = gtk3
	depends = libsecret
	depends = mesa
	depends = glu
	depends = webkit2gtk-4.1
	depends = libxkbcommon
	depends = curl
	depends = libmspack
	depends = eglexternalplatform
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = tbb
	provides = qidistudio
	conflicts = qidistudio
	conflicts = qidi-studio
	source = git+https://github.com/mitch030504/QIDIStudioAutoBuild.git
	sha256sums = SKIP

pkgname = qidistudio-git
